@import "./keyframes";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--global-font-family);
  user-select: none;
  -webkit-user-select: none;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: var(--global-font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark);
  text-align: left;
  background-color: var(--body);

  @include hideScroll();
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: var(--primary);
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: var(--indigo);
    text-decoration: underline;
  }

  &:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
  }

  &:not([href]):not([tabindex]) {

    &:focus,
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  &:not([href]):not([tabindex]):focus {
    outline: 0;
  }
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: var(--secondary);
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input,
button {
  height: 100%;
  border-radius: 0;
  overflow: visible;
  padding: px2rem(2) px2rem(10);
  cursor: pointer;

  &:focus {
    outline: 2px solid var(--dark);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

button {
  -webkit-appearance: button;

  &::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }
}

input {

  &[type="checkbox"],
  &[type="radio"] {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: auto;

    &:focus {
      outline: none;
    }
  }

  &[type="date"],
  &[type="time"],
  &[type="datetime-local"],
  &[type="month"] {
    -webkit-appearance: listbox;
  }
}

input,
select,
optgroup,
textarea {
  display: block;
  border: none;
  height: 100%;
  width: 100%;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: px2rem(-2);
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1,
.h1 {
  @include headings(2.5rem);
}

h2,
.h2 {
  @include headings(2rem);
}

h3,
.h3 {
  @include headings(1.75rem);
}

h4,
.h4 {
  @include headings(1.5rem);
}

h5,
.h5 {
  @include headings(1.25rem);
}

h6,
.h6 {
  @include headings(1rem);
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: px2rem(1) solid rgba(0, 0, 0, 0.1);
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: var(--white);
  border: px2rem(1) solid var(--light);
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

code {
  font-size: 87.5%;
  color: var(--light-gray);
  word-break: break-word;
}

a>code {
  color: inherit;
}

pre {
  display: block;
  font-size: 87.5%;
  color: var(--dark);

  code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }
}

.container {
  width: 100%;
  padding-right: px2rem(15);
  padding-left: px2rem(15);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: px2rem(832);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: px2rem(960);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: px2rem(1140);
  }
}

.container-fluid {
  width: 100%;
  padding-right: px2rem(15);
  padding-left: px2rem(15);
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: px2rem(-15);
  margin-left: px2rem(-15);
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto {
  position: relative;
  width: 100%;
  padding-right: px2rem(15);
  padding-left: px2rem(15);
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.flex-center {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;

  >*:not(:last-child) {
    margin-right: 1rem;
  }

  &.no-space>* {
    margin: auto;
  }
}

.input-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &.label-top {
    flex-direction: column;
    align-items: flex-start;
  }

  &.label-left,
  &.label-right {
    flex-direction: row;
  }

  .input-span {
    width: 100%;
    display: flex;
  }
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control {
  @include formControl();

  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &:focus {
    color: var(--teal);
    background-color: var(--white);
    border-color: var(--cyan);
    outline: 0;
    box-shadow: boxShadow(focus, primary);
  }

  &::-webkit-input-placeholder {
    color: var(--secondary);
    opacity: 1;
  }

  &::-moz-placeholder {
    color: var(--secondary);
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: var(--secondary);
    opacity: 1;
  }

  &::-ms-input-placeholder {
    color: var(--secondary);
    opacity: 1;
  }

  &::placeholder {
    color: var(--secondary);
    opacity: 1;
  }

  &:disabled {
    background-color: var(--gray);
    opacity: 1;
  }

  &[readonly] {
    background-color: var(--light-gray);
    opacity: 1;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: px2rem(1) solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    color: var(--dark);
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: 0.65;
  }

  &-header {
    position: relative;
    width: 100%;
    padding: 0.9375rem;
    display: flex;
    justify-content: space-between;

    .btn#addExp {
      padding: 0;
    }
  }

  &-primary {
    @include buttonVariant(primary)
  }

  &-secondary {
    @include buttonVariant(secondary)
  }

  &-success {
    @include buttonVariant(success)
  }

  &-info {
    @include buttonVariant(info)
  }

  &-warning {
    @include buttonVariant(warning)
  }

  &-danger {
    @include buttonVariant(danger)
  }

  &-light {
    @include buttonVariant(light)
  }

  &-dark {
    @include buttonVariant(dark)
  }
}

a.btn.disabled {
  pointer-events: none;
}

fieldset {
  &:disabled {
    a.btn {
      pointer-events: none;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  &.menu {
    a {
      -webkit-app-region: no-drag;
      color: var(--dark);
      background-color: var(--menu-color);
      box-shadow: boxShadow(menu);
      font-weight: bold;
      display: inline-flex;
      align-items: center;
      padding: 0 1rem;
      height: 100%;

      &:focus {
        outline: none;
      }

      &.router-link-exact-active {
        color: var(--white);
      }
    }
  }
}

header,
.header {
  background-color: var(--header-color);
  text-align: left;

  @include headerFooters()
}

header.main {
  -webkit-app-region: drag;
}

footer,
.footer {
  background-color: var(--footer-color);
  text-align: center;
  @include headerFooters()
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--white);
  background-clip: border-box;
  border: px2rem(1) solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: boxShadow(card);
  white-space: nowrap;

  &:hover {
    box-shadow: boxShadow(card-hover);
  }

  >* {
    width: 100%;
  }

  &>hr {
    margin-right: 0;
    margin-left: 0;
  }

  &-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;

    &:not(.noBg) {
      background-color: rgba(0, 0, 0, 0.03);
      border-bottom: px2rem(1) solid rgba(0, 0, 0, 0.125);
    }

    &:first-child {
      border-radius: calc(0.25rem - px2rem(1)) calc(0.25rem - px2rem(1)) 0 0;
    }

    &+.list-group .list-group-item:first-child {
      border-top: 0;
    }

  }

  &-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
  }

  &-text:last-child {
    margin-bottom: 0;
  }

  &-link:hover {
    text-decoration: none;

    &+.card-link {
      margin-left: 1.25rem;
    }
  }

  &-footer {
    padding: 0.75rem 1.25rem;

    &:not(.noBg) {
      background-color: rgba(0, 0, 0, 0.03);
      border-top: px2rem(1) solid rgba(0, 0, 0, 0.125);
    }

    &:last-child {
      border-radius: 0 0 calc(0.25rem - px2rem(1)) calc(0.25rem - px2rem(1));
    }
  }

}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;

  &-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  &-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

.shadow {
  &-light {
    box-shadow: boxShadow(light);
  }

  &-default {
    box-shadow: boxShadow();
  }

  &-dark {
    box-shadow: boxShadow(dark);
  }

  &-svg-light {
    filter: drop-shadow(boxShadow(svg-light));
  }

  &-svg-dark {
    filter: drop-shadow(boxShadow(svg-dark));
  }
}

.d- {

  &none {
    display: none;
  }

  &inline {
    display: inline;
  }

  &inline-block {
    display: inline-block;
  }

  &block {
    display: block;
  }

  &flex {
    display: -ms-flexbox;
    display: flex;
  }

  &inline-flex {
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

}

.grid {
  &-container {
    display: grid;
    gap: 0% 1%;
    grid-template-columns: repeat(auto-fit, minmax(23.33333%, 2fr));
    padding: 0.625rem;
  }

  &-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.25rem;
    text-align: center;
    grid-column: span 1;
  }
}

#bodyOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  &.dark {
    background-color: var(--black-trans);
  }

  &.light {
    background-color: var(--white-trans);
  }
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: px2rem(40);

  li {
    background-color: var(--white);
    box-shadow: boxShadow(minimal);
    color: var(--gray-dark);
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: px2rem(10);
    margin: px2rem(10) 0;
  }
}

.m {
  &-0 {
    margin: 0;
  }

  &-1 {
    margin: 0.5rem;
  }

  &-2 {
    margin: 1rem;
  }

  &-3 {
    margin: 2rem;
  }

  &-4 {
    margin: 4rem;
  }

  &l- {
    &1 {
      margin-left: 0.5rem;
    }

    &2 {
      margin-left: 1rem;
    }

    &3 {
      margin-left: 2rem;
    }

    &4 {
      margin-left: 4rem;
    }
  }

  &r- {
    &1 {
      margin-right: 0.5rem;
    }

    &2 {
      margin-right: 1rem;
    }

    &3 {
      margin-right: 2rem;
    }

    &4 {
      margin-right: 4rem;
    }
  }

  &t- {
    &1 {
      margin-top: 0.5rem;
    }

    &2 {
      margin-top: 1rem;
    }

    &3 {
      margin-top: 2rem;
    }

    &4 {
      margin-top: 4rem;
    }
  }

  &b- {
    &1 {
      margin-bottom: 0.5rem;
    }

    &2 {
      margin-bottom: 1rem;
    }

    &3 {
      margin-bottom: 2rem;
    }

    &4 {
      margin-bottom: 4rem;
    }
  }

  &x- {
    &1 {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    &2 {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    &3 {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    &4 {
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }

  &y- {
    &1 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    &2 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    &3 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    &4 {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }
}

.p {
  &-0 {
    padding: 0;
  }

  &-1 {
    padding: 0.5rem;
  }

  &-2 {
    padding: 1rem;
  }

  &-3 {
    padding: 2rem;
  }

  &-4 {
    padding: 4rem;
  }

  &l- {
    &1 {
      padding-left: 0.5rem;
    }

    &2 {
      padding-left: 1rem;
    }

    &3 {
      padding-left: 2rem;
    }

    &4 {
      padding-left: 4rem;
    }
  }

  &r- {
    &1 {
      padding-right: 0.5rem;
    }

    &2 {
      padding-right: 1rem;
    }

    &3 {
      padding-right: 2rem;
    }

    &4 {
      padding-right: 4rem;
    }
  }

  &t- {
    &1 {
      padding-top: 0.5rem;
    }

    &2 {
      padding-top: 1rem;
    }

    &3 {
      padding-top: 2rem;
    }

    &4 {
      padding-top: 4rem;
    }
  }

  &b- {
    &1 {
      padding-bottom: 0.5rem;
    }

    &2 {
      padding-bottom: 1rem;
    }

    &3 {
      padding-bottom: 2rem;
    }

    &4 {
      padding-bottom: 4rem;
    }
  }

  &x- {
    &1 {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    &2 {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &3 {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    &4 {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  &y- {
    &1 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    &2 {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &3 {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    &4 {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
}

// Table styles
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: $table-bg;

  thead,
  tbody,
  tfoot {
    tr {

      th,
      td {
        text-align: left;
        padding: $table-cell-padding;
        vertical-align: top;
        border-top: 0;
      }
    }
  }

  thead tr th {
    font-weight: $table-header-font-weight;
    color: $table-header-font-color;
    vertical-align: bottom;
    border-bottom: px2rem(1) solid rgba(0, 0, 0, .12);
  }

  thead.dark {
    background-color: var(--dark);
    color: var(--white);
  }

  caption+thead,
  colgroup+thead,
  thead:first-child {
    tr:first-child {

      th,
      td {
        border-top: 0;
      }
    }
  }

  tbody+tbody {
    border-top: px2rem(1) solid rgba(0, 0, 0, .12);
  }

  // Nested tables
  .table {
    background-color: $table-bg;
  }

  // Remove border
  .no-border {
    border: 0;
  }

  // Zebra-striping
  // Default zebra-stripe styles (alternating gray and transparent backgrounds)
  &-striped {
    tbody tr:nth-child(odd) {

      td,
      th {
        background-color: $table-bg-accent;
      }
    }
  }

  // Hover effect
  &-hover {
    tbody tr:hover {

      td,
      th {
        background-color: $table-bg-hover;
        border: 0;
      }
    }
  }
}


@media screen and (max-width: 768px) {

  // Tighten up spacing
  .table {
    margin-bottom: 0;
    background-color: transparent;

    thead,
    tfoot {
      display: none;
    }

    tbody {
      display: block;

      tr {
        display: block;
        border: px2rem(1) solid $table-border-color;
        border-radius: px2rem(2);
        margin-bottom: $table-cell-padding;

        td {
          background-color: $table-bg;
          display: inline-block;
          vertical-align: middle;
          text-align: right;
        }

        td[data-title]:before {
          content: attr(data-title);
          float: left;
          font-size: inherit;
          font-weight: $table-header-font-weight;
          color: $table-header-font-color;
        }
      }
    }

    // Special overrides for the striped tables
    &-striped {

      tbody tr td,
      tbody tr:nth-child(odd) {
        background-color: $table-bg;
      }

      tbody tr td:nth-child(odd) {
        border: 0;
        border-bottom: px2rem(1) solid $table-border-color;
        background-color: $table-bg-accent;
      }
    }

    // Special overrides for hover tables
    &-hover {
      tbody {

        tr:hover td,
        tr:hover {
          background-color: $table-bg;
        }

        tr td:hover {
          background-color: $table-bg-hover;
        }
      }
    }
  }

}

.left-arrow {
  @include cssArrow(left);
}

.right-arrow {
  @include cssArrow(right);
}

.up-arrow {
  @include cssArrow(up);
}

.down-arrow {
  @include cssArrow(down);
}

.expense,
.income {
  @include AmountType();
}

.category,
.type {
  display: inline-block;
  padding: 0 px2rem(5);
  border-radius: px2rem(3);
  margin: px2rem(3);
  white-space: nowrap;
}

.delete-btn,
.update-btn,
#triggerEdit {
  padding: 0;
}

.details-box {
  min-height: 3rem;
}

span.err {
  color: white;
  background: darkred;
  padding: 0.25rem;
  width: 100%;
  display: block;
  margin-top: px2rem(3);
}

.err.form-control {
  border: px2rem(1) solid var(--red);
  background-color: transparent;
  margin: auto;
  padding: 0;
}

/* The Close Button */
.close {
  font-size: px2rem(20);
  font-weight: bold;
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: block;

  &.small {
    right: 0.25rem;
    top: 0.25rem;
  }

  &.medium {
    right: 0.625rem;
    top: 0.625rem;
  }

  &:hover,
  &:focus {
    fill: var(--secondary);
    text-decoration: none;
    cursor: pointer;
  }
}

// The notification toast
.notification {
  position: fixed;
  min-width: 20rem;
  min-height: 5rem;
  color: var(--white);
  z-index: 99999;
  border-radius: 0.25rem;
  box-shadow: boxShadow(notify);

  header,
  .header {
    background-color: transparent;
    box-shadow: none;

    h6 {
      padding-left: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  main,
  .main {
    padding: 1%;

    p {
      text-align: left;
      padding-left: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  &.success {
    background-color: var(--success-trans);
  }

  &.info {
    background-color: var(--info-trans);
  }

  &.warning {
    background-color: var(--warning-trans);
  }

  &.error {
    background-color: var(--danger-trans);
  }

  &.top-right {
    top: 1rem;
    right: 0;
  }

  &.top-left {
    top: 1rem;
    left: 0;
  }

  &.bottom-right {
    bottom: 1rem;
    right: 0;
  }

  &.bottom-left {
    bottom: 1rem;
    left: 0;
  }

  &.top-center {
    top: 1rem;
    width: 20rem;
    left: 50%;
    transform: translate(-50%, 0)
  }

  &.bottom-center {
    bottom: 1rem;
    width: 20rem;
    left: 50%;
    transform: translate(-50%, 0)
  }
}

.dashboard {
  position: relative;
  margin-bottom: 4rem;
  margin-top: 6rem;
}

.animate {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: 200;

  &.bottom {
    animation-name: slideUp;
  }

  &.top {
    animation-name: slideDown;
  }
}

.just-move {
  animation: moveIt 500ms infinite;
}