$background-color: rgb(128, 0, 107);
$primary-color : #0f0562;
$red-color : red;

$header-color: #00cc00;
$footer-color: #373737;
$black-color : #000000;
$white-color : #ffffff;

$table-header-font-weight: 400;
$table-header-font-color : #ffffff;

$table-cell-padding : 1rem;

$table-bg : #fff;
$table-bg-accent: #f5f5f5;
$table-bg-hover : rgba(0, 0, 0, .12);
$table-bg-active: $table-bg-hover;
$table-border-color: #e0e0e0;

$menu-color: #00cc00;