:root {

    --body: #fafafa;
    --text-default: #1d1d1f;
    --text-secondary: #86868b;
    --header-color: #00cc00;
    --footer-color: #373737;
    --menu-color: #00cc00;

    // colors
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #ffffff;
    --black: #000000;
    --light-gray: #dddddd;
    --gray: #6c757d;
    --gray-dark: #343a40;

    --primary: #007bff;
    --primary-hover: #0069d9;
    --primary-disabled: #1f88f9;
    --primary-border: #0062cc;

    --secondary: #6c757d;
    --secondary-hover: #5a6268;
    --secondary-disabled: #7e858b;
    --secondary-border: #545b62;

    --success: #28a745;
    --success-hover: #218838;
    --success-disabled: #35b452;
    --success-border: #1e7e34;

    --info: #17a2b8;
    --info-hover: #138496;
    --info-disabled: #24b8cf;
    --info-border: #117a8b;

    --warning: #ffc107;
    --warning-hover: #e0a800;
    --warning-disabled: #fcc41c;
    --warning-border: #d39e00;

    --danger: #dc3545;
    --danger-hover: #c82333;
    --danger-disabled: #e74e5d;
    --danger-border: #bd2130;

    --light: #e3e8ec;
    --light-hover: #eef5fa;
    --light-disabled: #d7d9da;
    --light-border: #d8e0e7;

    --dark: #343a40;
    --dark-hover: #434a51;
    --dark-disabled: #434e58;
    --dark-border: #292e32;

    --success-trans: #28a74599;
    --info-trans: #17a2b899;
    --warning-trans: #ffc10799;
    --danger-trans: #dc354599;
    --black-trans: #00000099;
    --white-trans: #ffffff99;

    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --global-font-family: "Trebuchet MS", sans-serif;
    --minimal-shadow: 0 1px 3px;
    --default-shadow: 1px 1px 5px;
    --dark-shadow: 0 0.5rem 3rem;
    --top-shadow: 2px -3px 4px;
    --bottom-shadow: 2px 3px 4px;
    --svg-light-shadow: 3px 3px 3px;
    --svg-dark-shadow: 6px 3px 1px;
    --focus-shadow: 0 0 0 0.2rem;
    --menu-shadow: 3px 3px 5px;
    --notify-shadow: 5px 5px 5px;
    --card-shadow: 0 4px 8px 0;
    --card-hover-shadow: 0 8px 16px 0;
}

$table-header-font-weight: 400;
$table-header-font-color : #ffffff;
$table-cell-padding : 1rem;
$table-bg : #fff;
$table-bg-accent: #f5f5f5;
$table-bg-hover : #0000001f;
$table-bg-active: $table-bg-hover;
$table-border-color: #e0e0e0;